h1 {
color: red;
text-align: center;
}


#nav {
margin: 0;
padding:0;
list-style: none;
text-align: center ;
}

#nav li {
display : inline;
margin-right: 1px;
color: #fff
background: #c00;
}

#nav li a {
  padding: 4px 20px ;
  background: #62ABFE ;
  color: #fff ;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

#nav li a:hover, #nav li a:focus, #nav li a:active {
  background: #0052AF ;
  text-decoration: underline ;
}
